---
import Layout from '../layouts/Layout.astro';
import ForgotPasswordPage from '../components/ForgotPasswordPage';
---

<Layout title="Reset Password | Auditor">
  <section class="container mx-auto px-6 py-12 max-w-lg">
    <ForgotPasswordPage client:load />
  </section>
</Layout>
