---
import Layout from '../layouts/Layout.astro';
import UpdatePasswordPage from '../components/UpdatePasswordPage';
---

<Layout title="Update Password | Auditor">
  <section class="container mx-auto px-6 py-12 max-w-lg">
    <UpdatePasswordPage client:load />
  </section>
</Layout>
